<a href="https://colab.research.google.com/github/anitaalh/bangkit2023/blob/main/python_crash_course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---

**Syntax** is the rules for how each instruction is written.

**Semantics** is the effect the instructions have.

---

In [ ]:
friends = ['Taylor', 'Alex', 'Pat', 'Eli']
for friend in friends:
  print("Hi "+ friend)

Hi Taylor
Hi Alex
Hi Pat
Hi Eli

**Interpreter** is the program that reads and executes code.

why we use for ***friend*** not for ***friends*** because It's important to use a singular variable name like friend in the loop because each iteration deals with one element (one friend) from the list.

In [ ]:
for i in range(10):
  print("Hello, World!")

Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!

**Functions** are pieces of code that perform a unit of work.

**Keywords** are reserved words that are used to construct instructions. examples: *if, while, and for*

In [ ]:
print(type("a"))
print(type(8))
print(type(3.4))

<class 'str'>
<class 'int'>
<class 'float'>

**Variables** are names that we give to certain value in our programs.

**Assignment** is the process of storing a value inside a variable.

**Expression** is a combination of numbers, symbols, or other variables that produce a result when evaluated.

In [ ]:
length = 20
width = 15

area = length*width
print(str(area)+"sqr")

300sqr

**Implicit conversion** is where the interpreter automatically converts one data type into another.

the `print(str(area)+"sqr")` above are the example of **Explicit conversion**

###**Practice writing some expressions and conversions yourself.**

In this scenario, we have a directory with 5 files in it. Each file has a different size: 2048, 4357, 97658, 125, and 8. Fill in the blanks to calculate the average file size by having Python add all the values for you, and then set the files variable to the number of files. Finally, output a message saying "The average size is: " followed by the resulting number. Remember to use the str() function to convert the number into a string.

In [ ]:
size = 2048 + 4357 + 97658 + 125 + 8
files = 5
average = size/files
print("The average size is: " + str(average))

The average size is: 20839.2

## **Defining Function**

use ***def*** keyword to define function followed by the name of the function.

after the name, there are parameters of the function which are written between parentheses followed by a colon at the end of the line.

then the body of the function where we state what we want our function to do. (must be to the right of the def)

example:


```
def greeting(name):
  print("Welcome, " + name)
```

the function name = greeting

parameter = name

body = print...

In [ ]:
def greeting(name):
  print("Welcome, " + name)

greeting("Clara")
greeting("Simon")

Welcome, Clara
Welcome, Simon

In [ ]:
def greet(name, department):
  print("Welcome, " + name)
  print("You are part of " + department)

greet("Clara", "Accounting")
greet("Simon", "Strategist")

Welcome, Clara
You are part of Accounting
Welcome, Simon
You are part of Strategist

## **Returning Value**

when we want to use the result of the function later.

imagine we would use following code several times in our code.

```
height = 20
base = 15

area = base*height/2
```

we can returning the value with following code:

```
def area_triangle(base, height):
  return base*height/2
```

In [ ]:
def area_triangle(base, height):
  return base*height/2

area_a = area_triangle(5, 4)
area_b = area_triangle(7, 3)

sum = area_a + area_b
print("The sum of both area is: " + str(sum))

The sumof both area is: 20.5

In [ ]:
def convert_seconds(seconds):
  hours = seconds//3600
  minutes = (seconds - hours*3600)//60
  remaining_seconds = seconds - hours*3600 - minutes*60
  return hours, minutes, remaining_seconds

hours, minutes, seconds = convert_seconds(5000)
print(hours, minutes, seconds)

1 23 20

the // is ***floor devision***, which means it divides a number and takes the integer part of the division as the result

for example, 5//2 is 2 instead of 2.5

##**Comparing Things**

== equal operators

!= not equal equators

< smaller

' > bigger

##Logical Operator

allow to connect multiple statements together and perform more complex comparisons.

Logical operators in Python:
1. **and** : need all the expressions to be true at the same time.
2. **or** : the expression will be true if either of the expressions are true, and false when both of the expressions are false.
3. **not** : inverts the value of the expression that's in front of it. if true become false, if false become true.

##**IF Statements**

**If statement** is written with **keyword** ***if*** followed with the condition that we want to check for, and then followed by a colon after that, comes the **body** of the if block which is indented further to the right.

the body of the if block will only execute when the condition evaluates to true; otherwise it's skipped.

example:


```
def hint_username(username):
  if len(username) < 3:
    print("Invalid username. Must be at least 3 characters long")
```

##**ELSE Statement**

```
def hint_username(username):
  if len(username) < 3:
    print("Invalid username. Must be at least 3 characters long")
  else:
    print("Username is Valid!")
```

or

```
def is_even(number):
  if number % 2 == 0:
    return True
  return False
```

above statement called **Modulo Operator**

##**ELIF Statement**

elif statement could handle more than two comparison cases. no limit for how many condition can be handle.

```
def hint_username(username):
  if len(username) < 3:
    print("Invalid username. Must be at least 3 characters long")
  elif len(username) > 15:
    print("Invalid username. Must be at most 15 characters long")
  else:
    print("Username is Valid!")

##**Loops**

**While Loop** = instruct the computer to continuously execute the code based on the value of a condition.

The initializing is important.

In [ ]:
x = -5
while x < 5:
  print("Not there yet, x=" + str(x))
  x = x + 1
print("x=" +str(x))

Not there yet, x=-5
Not there yet, x=-4
Not there yet, x=-3
Not there yet, x=-2
Not there yet, x=-1
Not there yet, x=0
Not there yet, x=1
Not there yet, x=2
Not there yet, x=3
Not there yet, x=4
x=5

In [ ]:
def attempts(n):
  x = 1 #Initializing
  while x <= n:
    print("Attempt " + str(x))
    x += 1 # same as x = x+1
  print("Done")

attempts(5)

Attempt 1
Attempt 2
Attempt 3
Attempt 4
Attempt 5
Done

In [ ]:
def count_down(start_number):
  current = start_number
  while (current > 0):
    print(current)
    current -= 1
  print("Zero!")

count_down(5)

5
4
3
2
1
Zero!

##**FOR Loops**

FOR loops iterates over a sqeuences of values.

range in python:
1. a range of numbers will start with the value 0 by default.
2. the list of numbers generated will be one less than the given value.

you can use for loops to:
- copy files to machines
- process the contents of files
- automatically install software

use **for** loops when there's sequence of elements that you want to iterate.

use **while** loops when you want to repeat an action untill a condition changes.

In [4]:
for x in range(5):
  print(x)

0
1
2
3
4

In [5]:
values = [23, 52, 59, 37, 48]
sum = 0
length = 0
for value in values:
  sum += value
  length += 1
print("Total sum: " +  str(sum) + " - Average: " +str(sum/length))

Total sum: 219 - Average: 43.8

In [6]:
product = 1
for n in range (1, 10): #from 1 to 10
  product = product * n

print(product)

362880

In [7]:
def to_celsius(x):
  return (x-32)*5/9

for x in range(0, 101, 10):
  print(x, to_celsius(x))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778